/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "material";

// Color Variables
$feh-brightred: #e21e26;
$feh-purple: #3f51b5;
$feh-green: #009688;
$feh-gray: #555;
$white: #fff;

* { box-sizing: border-box; }

html, body {
 background-color: #F1F1F1;
 font-size: 13px!important;
}

a { color: $feh-gray; }

$feh-darkergray: darken($feh-gray, 10%);
$feh-darkgray: darken($feh-gray, 2%);
$feh-lightgray: lighten($feh-gray, 30%);
$feh-lightestgray: lighten($feh-gray, 55%);

.page-content, .mdl-layout__content { margin-top: 20px; text-align: center; }

.table__container--responsive {
  overflow: scroll;
}

.mdl-data-table {
  white-space: normal;
}

.mdl-data-table thead,
.mdl-data-table--striped tr:nth-child(even) {
  background-color: #F6F6F6;
}

.mdl-data-table__footer {
  font-weight: bold;
  font-size: 12px;
  color: rgba(0,0,0,.54)
}

.mdl-data-table__row--bold {
  font-weight: bold;
}

.mdl-data-table__row--fixed {
  font-family: monospace;
  white-space: pre;
}

.mdl-data-table.error {
  border-color: #d50000;
  border-bottom: 1px solid;
  &.mdl-shadow--2dp {
    // box-shadow: 0 2px 2px 0, 0 3px 1px -2px, 0 1px 5px 0;
    // color: #d50000;
  }
  tfoot tr td {
    color: #d50000;
    border-bottom: 1px solid #d50000;
  }
}

.block--full { width: 100%; }

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1320px;
  width: 1200px;
}
